<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title data-th-text="#{label.home}"></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" data-th-text="#{label.home}"></a>
    <a class="navbar-brand" href="/profile?language=ru" data-th-text="#{label.lang.ru}"></a>
    <a class="navbar-brand" href="/profile?language=en" data-th-text="#{label.lang.en}"></a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" sec:authorize="!isAuthenticated()">
          <a class="nav-link" th:href="@{/login}" data-th-text="#{button.login}"></a>
        </li>
        <li class="nav-item" sec:authorize="!isAuthenticated()">
          <a class="nav-link" th:href="@{/sing-up}" data-th-text="#{button.register}"></a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"
                    sec:authentication="name">
              <i class="bi bi-list"></i> Меню
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">

              <li><a class="dropdown-item" th:href="@{/profile}" data-th-text="#{button.profile}">
                <i class="fas fa-user"></i></a></li>

              <!-- <li class="dropdown">
                   <a class="dropdown-item dropdown-toggle" href="#">
                       <i class="fas fa-gear"></i> Настройки</a>
               </li>-->

              <li><hr class="dropdown-divider"></li>
              <li><form th:action="@{/logout}" method="post">
                <button type="submit" class="dropdown-item" data-th-text="#{button.logout}">
                  <i class="fas fa-sign-out-alt"></i>
                </button>
              </form>

              </li>
            </ul>
          </div>
      </ul>
    </div>
  </div>
</nav>



<div class="container mt-5">
  <div class="card mx-auto" style="width: 40rem;">
    <div class="card-header">
      <h2 class="text-center" data-th-text="#{label.user.profile}">Профиль пользователя</h2>
    </div>
    <div class="card-body">
      <div class="text-center">
        <h3 th:text="${user.FirstName + ' '} +  ${user.LastName}" ></h3>
        <h3><p><strong data-th-text="#{label.profile.login}">Логин:</strong> <span th:text="${user.Username}"></span></p>
        <p><strong>Email:</strong> <span th:text="${user.Email}"></span></p>
        <p><strong data-th-text="#{label.profile.city}">Город:</strong> <span th:text="${user.City}"></span></p>
        <p><strong data-th-text="#{label.profile.dateReg}">Дата регистрации:</strong> <span th:text="${user.RegistrationDate}"></span></p>
        </h3>
      </div>
    </div>
  </div>
</div>


<footer class="bg-dark text-white text-center py-3 fixed-bottom">
  <p class="mb-0">&copy; 2025 Онлайн-библиотека.</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>